.head {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 1.8rem 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .head {
    display: none;
  }
}

.colors-head {
  background-color: #fff;
}

.colored-head {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 1.8rem 0;
  overflow-x: hidden;
  background-color: #fff;
}

@media (max-width: 768px) {
  .colored-head {
    display: none;
  }
}

.colored-head svg {
  color: #727eba;
}

.colored-head a {
  color: #727eba;
}

.nav-con {
  display: flex;
  max-width: 1300px;
  min-width: 320px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-left: 1.8rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.head .navigation a {
  color: #fff;
  text-decoration: none;
}

.colored-head .navigation a {
  color: #727eba;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.head p {
  margin: 0;
}

.wait {
  background-color: #fff;
  color: #727eba;
  border-radius: 0.5rem;
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1.8rem;
}

.wait:hover {
  scale: 0.97;
}

.colored-head .wait {
  background-color: #727eba;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
