.footer_wrapper {
  background: rgba(71, 5, 109, 0.959);
}

.footer_wrapper hr {
  height: 2px;
  border: none;
  background-color: rgba(136, 134, 134, 0.521);
}

.footer-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 960px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 960px) {
  .empty {
    display: none;
  }
}

.footer-grid p {
  width: 80%;
  margin: 1rem 0 1.2rem 0;
}

.footer-grid h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.mission {
  font-weight: 600;
}

.bottom_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1.8rem;
}

@media (max-width: 960px) {
  .bottom_footer {
    grid-template-columns: 1fr;
  }
}

.footer_wrapper .logos {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.bottom_footer p {
  margin: 0;
}
