@font-face {
  font-family: "Noto";
  src: url("./fonts/NotoSansPahawhHmong-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: "Noto", -apple-system, BlinkMacSystemFont, monospace, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      -170deg,
      rgba(41, 116, 228, 0.397),
      rgba(204, 0, 255, 0.363)
    ),
    url("./../public/images/air2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

@media (max-width: 768px) {
  body {
    background-position: center;
  }
}

code {
  font-family: "Noto", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1300px;
  min-width: 320px;
  margin: 0px auto;
  overflow-x: hidden;
}

.inner {
  padding: 0 1.8rem;
}

.home-footer {
  position: absolute;
  bottom: 0;
}
